### Maven ###
*/target/
*/.mvn/wrapper/maven-wrapper.jar

### Node ###
*/node_modules/
*/node/
*/dist/

### Astro ###
*/.astro/

### Others ###
.playwright/
.playwright-cli/
*local*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/